<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        <a href="https://github.com/ionic-team/ionic-native-google-maps"></a>  <a href="https://github.com/mapsplugin/cordova-plugin-googlemaps" target="_blank"></a>
        <!-- One source code, then run it browser, Android and iOS! -->
        </p>
        <div id="map_canvas">
           <!-- <ion-button ion-button (click)="onButtonClick()">Demo</ion-button>  -->
        </div>
  
</ion-content>
